<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <span _ngcontent-nbk-c19="" aria-hidden="true" class="glyphicon glyphicon-gift"></span> Productos
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Producto</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos">
                    <td>{{producto.id_producto}}</td>
                    <td>{{producto.nombre_producto}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>