<div class="container">
  <div class="jumbotron">
    <h1>Globaltek</h1>
    <p class="lead">Prueba Técnica para la vacante como Front-End</p>
    <p>
      <button (click)="irAFacturas()" class="btn btn-lg btn-warning" href="#" role="button"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Facturas</button>
      &nbsp;
      <button (click)="irAProductos()" class="btn btn-lg btn-warning" href="#" role="button"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Productos</button>
    </p>
  </div>
  <router-outlet></router-outlet>
  <div class="text-right" style="font-size:12px; color: white; text-shadow: black 0.1em 0.1em 0.2em;">
    Por: Oscar IBN
  </div>
</div>